body{
    margin: 0px;
}
.section-1{
    background-color: #1f2937;
}
.section-wrapper{
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    width: 100%;
}
.header .logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
    flex:0 1 auto;
}
.right-links, .hero .secondary{
    font-size: 18px;
    color:#e5e7eb;
}
ul{
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}
li{
    padding-left: 32px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: inherit;

}
.image{
    width: 700px;
    height: 250px;
    background-color: gray;
}
.hero{
    width: 100%;
    margin: 0px;
    display: flex;
    padding: 70px 0 90px;
    gap:50px;
}
.hero .heading{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}
button{
    background-color: #3882F6;
    padding: 7px 25px;
    color: #e5e7eb;
    border-radius: 10px;
    border-style: none;
}
.information{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 30px;
}
.information-boxes{
    display: flex;
    justify-content: center;
    gap:50px;
}
.item{
    max-width: 15g0px;
    text-align: center;
}
.information-image{
    width: 150px;
    height: 150px;
    border: #3882F6 3px solid;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 5px ;
}
